.truck-summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap:10px;
}

.toggle-icon {
    transition: transform 0.3s ease;
    display: inline-block;
}

/* 핵심: details가 open일 때 아이콘 회전 */
.truck-details[open] .toggle-icon {
    transform: rotate(90deg);
}
